@charset "UTF-8";
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
    min-height:100vh;
    background-color: #ffe2df;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: normal;
    color: #860101;
}
header{
    text-align: center;
    background-color: #f85555;
    margin: auto;
    padding: 3px;
    border: 0;
}
nav{
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 13px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 10px;
    border-top: 10px;
    padding: 12px;
    
}
a{
    text-decoration: none;
    color: #460000;
    margin-right: 20px;
}
a:hover{
    text-decoration: underline;

}
a:active{
    color: #860101;
}
h1{
    padding: 16px;
    margin: 10px;
}
main > div{
    margin-top: 107px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    text-align: center;
}
footer{
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #FF5454;
    text-align: center;
}
a.BVoltar{
    position: fixed;
    top: 20px; left: 20px

}



